@import "/src/styles/variables.scss";

.noti-item {
    border: 2px solid $primary-color-admin;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 15px;
    background-color: #f6fcff;
    cursor: pointer;
    box-shadow: 1px 1px 2px #e6f7ff, -2px -2px 4px #e6f7ff;

    .noti-item-title {
        font-family: 'Be Vietnam Pro', sans-serif;
        font-size: 14px;
        font-weight: 600;
        color: #003D80;
    } 

    .noti-item-time {
        font-family: 'Be Vietnam Pro', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #6f6f6f;
    }
    
    .noti-item-user {
        font-family: 'Be Vietnam Pro', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: $text-head-color-admin;
    }

    .noti-item-content-container {
        border-radius: 5px;
    }
    
    .noti-item-content {
        font-family: 'Be Vietnam Pro', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #000000;
        margin-top: 10px;
    }
    
    .noti-item-attach-file {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 10px;
        
        .attached-file-item {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-bottom: 5px;
            width: fit-content;
            padding: 8px 8px;
            border-radius: 5px;
            cursor: pointer;
            border: 1px solid rgb(218, 218, 218);
            
            .icon-container {
                display: flex;
                align-items: center;
                transform-origin: left center;
                width: 24px; 
                height: 24px;
                flex-shrink: 0; 
            }
            
            .file-name {
                font-family: 'Be Vietnam Pro', sans-serif;
                font-size: 14px;
                font-weight: 400;
                color: #0066cc;
                text-decoration: none;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}