@import "../../../../../src/styles/variables.scss";

.send-noti-container{
    .header-send-noti {
        padding: 0px 30px;

        .text {
            font-size: 2em;
            font-weight: 600;
            color: $primary-color-admin;
        }
    }

    .button {
        border-radius: 5px;
        padding: 5px 15px;
        border: none;
        background-color: $primary-color-admin;
        color: white;
        cursor: pointer;
        font-weight: 600;

        i {
            margin-right: 10px;
        }

        &:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }
    }

    .send-noti-content{
        border-radius: 10px;
        box-shadow: $box-shadow-content-admin;
        background: white;
        padding: 20px 30px;
        margin-top: 30px;

        .radio-noti-inputs {
            position: relative;
            font-family: 'Be Vietnam Pro', sans-serif;
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
            padding: 0.25rem;
            width: 100%;
            font-size: 14px;
        }
    
        .radio-noti-inputs .radio-noti {
            flex: 1; /* Cho phép các phần tử mở rộng để chiếm đều không gian */
            text-align: center;
            position: relative;
            min-width: 100px; /* Kích thước tối thiểu cho mỗi phần tử */
        }
    
        .radio-noti-inputs .radio-noti input {
            display: none;
        }
    
        .radio-noti-inputs .radio-noti .name {
            display: flex;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            border-radius: 0.5rem;
            border: none;
            padding: 0.5rem 0;
            color: rgba(51, 65, 85, 1);
            transition: all 0.15s ease-in-out;
            position: relative;
        }
    
        .radio-noti-inputs .radio-noti input:checked + .name::after {
            content: "";
            position: absolute;
            bottom: -5px; /* Điều chỉnh khoảng cách từ chữ tới gạch */
            left: 0;
            width: 100%;
            height: 3px; /* Độ dày của gạch */
            background-color: #83BDF4; /* Màu gạch */
            border-radius: 2px;
        }
    
        .radio-noti-inputs .radio-noti input:checked + .name {
            font-weight: 600;
        }
    
        .radio-noti-content {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
        }
    }
}