@import "/src/styles/variables.scss";

.notification-user{
    padding: 0 16px;
    max-width: 1200px;
    margin: 0 auto;

    .title {
        margin: 20px 0;
        font-size: 20px;
        font-weight: 700;
        color: $main-text-color;
    }

    .date {
        font-family: 'Be Vietnam Pro', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: gray;
        margin-bottom: 10px;
    }

    .button {
        border-radius: 5px;
        padding: 5px 15px;
        border: none;
        background-color: $primary-color-admin;
        color: white;
        cursor: pointer;
        font-weight: 600;

        i {
            margin-right: 10px;
        }

        &:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }
    }

    .noti-search{
        padding: 5px 10px;
        border: 1px solid #dddddd;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;

        i{
            color: #a2a2a2;
            margin-left: 10px;
            font-size: 16px;

            &:hover{
                color: #003D80;
                cursor: pointer;
            }
        }

        input{
            border: none;
            outline: none;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
    }
}