@import "/src/styles/variables.scss";

.blog-detail-user {
    .blog-detail-user-header {

        .imghead {
            padding: 15px 0;

            img {
                border-radius: 15px;
            }
        }

        .blog-detail-user-content {
            margin-top: 60px;
            display: flex;
            align-items: start;

            .content-handbook {
                padding: 20px;
                border-radius: 15px;

                .article-title {
                    font-size: 2rem;
                    font-weight: 700;
                    color: #003d80;
                    margin-bottom: 10px;
                }

                .article-meta {
                    font-size: 1.1em;
                    color: #999;
                    margin-bottom: 20px;

                    .article-date {
                        color: #666;
                    }

                    .article-author {
                        color: orange;
                        font-weight: 600;
                    }
                }

                .article-intro {
                    font-size: 1rem;
                    border-left: 3px solid orange !important;
                    font-weight: 500;
                    padding-left: 15px;
                    margin-bottom: 15px;
                    color: #666;
                }

            }
        }
    }
}